#ulMenu, ul.ulMenuCon {
    list-style-type: none;
    padding-left: 0px;
}

li.liMenu {
    float: left;
    position: relative;
}

li.liMenu:hover a {
    background-color: lightblue;
}

#ulMenu a {
    text-decoration: none;
    color: black;
    padding: 14px 16px;
    display: block;
    white-space: nowrap;
}

ul.ulMenuCon {
    display: none;
    /* visibility: hidden; */
}

li.liMenu:hover > ul, li.liMenuCon:hover > ul {
    display: block;
    /* visibility: inherit; */
    position: absolute;
}

li.liMenuCon:hover > ul {
    left: 100%;
    top: 0;
}
