* { 
    margin: 0;
    padding: 0;
    font-size: 25px;
}

.boxMain {
    width: 600px;
    height: 400px;
    border: 3px solid lightblue;
    margin: 60px auto;
    position: relative;
}

label[for] {
    color: lightseagreen;
}

label[for="text1"] {
    color: lime;
}

label[for^="te"] {
    color: mediumpurple;
}

label[for$="xt3"] {
    color: palevioletred;
}

label[for*="ex"] {
    color: pink;
}
