* { 
    margin: 0;
    padding: 0;
}

div.container {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 600;
}

.container {
    width: 900px;
    height: 100px;
    border: 3px solid lightblue;
    margin: 60px auto;
    display: flex;
    text-align: center;
    line-height: 100px;
    /* flex-direction: column-reverse; */
    /* flex-wrap: wrap; */
    /* flex-wrap: wrap-reverse; */
    /* align-items: flex-start; */
    /* justify-content: space-around; */
    /* align-content: stretch; */
}
/*
***FLEX-GROW***
container: width = 600
item: width = 100, flex-grow = 1
item1: flex-grow = 2

Total = 4
item1 = 2
item2 = 1
item3 = 1
width: item1 + item2 + item3 = 100 + 100 + 100 = 300
space = 600 - 300 = 300
item1: 1/2 * 300 = 150
item2: 1/4 * 300 = 75
item3: 1/4 * 300 = 75
=>  item1: 100 + 150 = 250
    item2: 100 + 75 = 175
    item3: 100 + 75 = 175

---------------------
container: width = 900
item: width = 100, flex-grow = 1
item1: flex-grow = 2
item2: flex-grow = 3

Total = 6
item1 = 2
item2 = 3
item3 = 1
width = item1 + item2 + item3 = 100 + 100 + 100 = 300
space = 900 - 300 = 600
item1 = 1/3 * 600 = 200
item2 = 1/2 * 600 = 300
item3 = 1/6 * 600 = 100
=>  item1 = 100 + 200 = 300
    item2 = 100 + 300 = 400
    item3 = 100 + 100 = 200

---------------------
container: width = 900
item: width = 150, flex-grow = 1
item1: flex-grow = 2
item2: flex-grow = 3

Total = 6
item1 = 2
item2 = 3
item3 = 1
width = item1 + item2 + item3 = 150 + 150 + 150 = 450
space = 900 - 450 = 450
item1 = 1/3 * 450 = 150
item2 = 1/2 * 450 = 225
item3 = 1/6 * 450 = 75
=>  item1 = 150 + 150 = 300
    item2 = 150 + 225 = 375
    item3 = 150 + 75 = 225

***FLEX-GROW***
*/
.items {
    width: 150px;
    flex-grow: 1;
}

.item-1 {
    background-color: #3AAF85;
    flex-grow: 2;
}

.item-2 {
    background-color: #038387;
    flex-grow: 3;
}

.item-3 {
    background-color: #D13438;
}

/* .item-4 {
    background-color: #3498DB;
}

.item-5 {
    background-color: #E67E22;
} */
