* { 
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

.boxMain {
    width: 600px;
    height: 400px;
    border: 3px solid lightblue;
    margin: 60px auto;
    position: relative;
}

.boxChild {
    width: 150px;
    height: 150px;
    background-color: lightseagreen;
    text-align: center;
    position: fixed;
    /* top: 0px; */
    /* right: 10px; */
    /* bottom: 10px; */
    /* left: 10px; */
}

.boxChild span {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150px;
}


span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

div {
    background-color: lightblue;
}

#btnLogin {
    width: 100px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: white;
    background-color: lightgreen;
}
